type project
id Uncodium.SimpleStore
authors Stefan Maierhofer
description
    Simple key/value store with out-of-core and in-memory implementation.
files
    ..\..\bin\Release\Uncodium.SimpleStore.dll ==> lib\net45
    ..\..\bin\Release\Uncodium.SimpleStore.pdb ==> lib\net45
    ..\..\bin\Release\Uncodium.SimpleStore.xml ==> lib\net45