type project
id Uncodium.SimpleStore
authors Stefan Maierhofer
owners Stefan Maierhofer
licenseUrl https://github.com/stefanmaierhofer/Uncodium.SimpleStore/blob/master/LICENSE
projectUrl https://github.com/stefanmaierhofer/Uncodium.SimpleStore
description
    A low-latency key/value store optimized for blob data.
    Its singular goal is to eliminate any overhead between you and your disk.
include-pdbs true