bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
**/*.csproj.user
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/sources.lock
/paket-files
/.fake
/.paket/paket.exe
/TestResult.xml
/tests.out
deliverable
bin/
obj/
/src/*.psess
/src/*.vspx
/src/*.sdf
/teststore
/teststore_large
/.paket/Paket.Restore.targets
/src/teststore*
/.paket/.store
.ionide
