bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/sources.lock
/src/VRVis.Vgm.Engine/VRVis.Vgm.Engine.csproj.user
/bin/Aardvark.Fake.dll
/src/ScratchRft/ScratchRft.csproj.user
/paket-files
/.fake
/.paket/paket.exe
/TestResult.xml
/tests.out
deliverable
/src/Aardvark.Data.HeXml/bin/Debug
/src/Aardvark.Data.Mve/bin/Debug
/src/Aardvark.Data.SFM/bin/Debug
bin/
obj/
/src/*.psess
/src/*.vspx
/src/VRVis.Vgm.GitHistory/node_modules
/src/Aardvark.VRVis.Reconstruction/*.user
/src/*.sdf
/Aardvark.log
/vgm.config
/teststore
/teststore_large
