framework:net45
source https://api.nuget.org/v3/index.json

nuget NUnit

group Build
framework:net45
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:standalone

